<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

    </div>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data(){
                return {
                    color: "black",
                    input: "",
                    list: ["1","2","3","4"], 
                };
            },
            methods: {
                a(){
                    this.list.push(this.input)

                    this.input=""
                }
            },
            template:`<div>
                <input v-model='input'>
                <button v-on:click="a">增加</button>
                <ul>
                    <li v-for="(item,index) of list">
                        <span v-if="item>10" style="color:green">{{item}}</span>
                        <span v-if="item<10" style="color:red">{{item}}</span>
                    </li>
                </ul>
                </div>`,
        }).mount("#app");
    </script>
</body>
</html>