<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <h2>选择性别:{{gender}}</h2>
        <input type="radio" id="male" value="男" v-model="gender" />
        <label for="male">男</label>
        <input type="radio" id="female" value="女" v-model="gender" />
        <label for="female">女</label>
        <hr>
        <h2>你选择的能力{{list}}</h2>
        <label for="a">
            a
            <input type="checkbox" id="a" value="a" v-model="list">
        </label>
        <label for="b">
            b
            <input type="checkbox" id="b" value="b" v-model="list">
        </label>
        <label for="c">
            c
            <input type="checkbox" id="c" value="c" v-model="list">
        </label>
        <hr>
        <h2>你的爱好{{list1}}</h2>
        <select v-model="list1" multiple>
            <option value="j">j</option>
            <option value="c">c</option>
            <option value="a">a</option>
        </select>
    </div>

    <script src="vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data() {
            return {
                gender: "男",
                list:[],
                list1:[],
            };
            },
            created() {
                
            },
            mounted() {
                
            },
            methods: {
                
            },
        });
        let vm = app.mount('#app');
    </script>
</body>

<html>