<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="scoll">
        <h2 v-if="scoll>=90">优秀</h2>
        <h2 v-else-if="scoll>80">良好</h2>
        <h2 v-else-if="scoll>70">一般</h2>
        <h2 v-else-if="scoll>60">及格</h2>
        <h2 v-else="scoll<60">不及格</h2>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
            return {
                scoll: 0,
            };
            },
            created() {
                
            },
            mounted() {
                
            },
            methods: {
                
            },
        });
        let vm = app.mount('#app');
    </script>
</body>

<html>